.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  margin: 10px;
  width: 300px;
  height: 60px;
  font-size: 25px;
}

